body {
  background-color: antiquewhite;
}

h1 {
  color: steelblue;
  margin-left: 20px;
  text-align: center;
}

p{
  color: steelblue;
  margin-left: 14px;
  text-align: left;
}

ul{
  color: steelblue;
  margin: 12px;
  text-align: justify;
}
